VITE_GEMINI_API_KEY=AIzaSyB1dZsjA-rR2CFDW7dbe9bOWK-eFT7l4dE
VITE_FIREBASE_API_KEY=AIzaSyABCFyFDmESODZIN0Qs2ts12kXCrPRGWKY
VITE_FIREBASE_AUTH_DOMAIN=mindful-ai-f1d06.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mindful-ai-f1d06
VITE_FIREBASE_STORAGE_BUCKET=mindful-ai-f1d06.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=868352067750
VITE_FIREBASE_APP_ID=1:868352067750:web:7cd0f0356fbfc5d27b8c67
VITE_FIREBASE_MEASUREMENT_ID=G-BVCNM474Z5
